.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
    background-image: url('../images/background-image-1.gif');
    background-attachment: fixed;
    scroll-behavior: smooth;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-self: center;
    width: 80%;
    min-height: 100vh;
    background-color: #414AFF;
}

.title {
    display: flex;
    background-color: #0D0082;
    height: 100%;
    width: 40%;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
}

h1, h2 {
    font-family: 'Notable', sans-serif;
    color: white;
}

p {
    font-family: 'Merge One', sans-serif;
}

.eecupic1 {
    background-image: url('../images/eecu-pics/eecupic1.png');
    background-size: cover;
    width: 52%;
    height: 300px;
    border-radius: 20px;
}

.eecupic2 {
    background-image: url('../images/eecu-pics/eecupic2.png');
    background-size: cover;
    width: 70%;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.intaud {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.intaudP {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 410px;
}

.piechartpic {
    background-image: url('../images/eecu-pics/eecupiechart.png');
    background-size: cover;
    height: 410px;
    width: 700px;
    margin-left: 50px;
}

.purpose {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}

.techstack {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.concepts {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 350px;
}

.challenges {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 850px;
}

.habits {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #0D0082;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.diy {
    background-color: #0D0082;
    height: 100px;
    width: 20%;
    margin-top: 20px;
    place-content: center;
    text-align: center;
    border-radius: 20px;
}

.backbtn {
    background-color: #0D0082;
    height: 100px;
    width: 20%;
    margin-top: 20px;
    place-content: center;
    text-align: center;
    border-radius: 20px;
}