html {
    background-image: url('../images/background-image-1.gif');
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-self: center;
    align-content: center;
    width: 80%
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
}

.projectsnav, .plansnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    border: 1px black solid;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    width: 15%;
    height: 50px;
}

.projectsnav {
    margin-left: 100px;
}

.designtitle {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}

.arrowdown {
    background-image: url('images/arrow_forward.png');
    height: 50px;
    width: 50px;
}

.bgtext {
    position: absolute;
}

a {
    background-color: blue;
    color: white;
    text-decoration: none;
    & .calctitle {
        height: 50px;
        background-color: blue;
        border-radius: 20px;
    }
    & .gambletitle {
        height: 50px;
        background-color: blue;
        border-radius: 20px;
    }
    & .fcztitle {
        height: 50px;
        background-color: blue;
        border-radius: 20px;
    }
}

#part1 {
    padding-top: -50px;
    padding: 50px;
}

.man {
    margin-left: 25%;
    background-image: url('../images/Component 1.png');
    background-size: cover;
    height: 700px;
    width: 700px;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #414AFF;
    height: 1000px;
    width: 100%;
}

#powers {
    margin-top: 100px;
}

#wield {
    margin-top: 100px;
    margin-left: 700px;
}

#section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #0D0082;
    padding: 20px;
    height: 430px;
    max-width: 100%;
}



.projectstitle, .EECU p, .Gamble p, .FCZ p {
    color: white;
}